@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}

body {
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-cosmic-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-cosmic-700 rounded-full;
}
