@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

body {
  @apply bg-cosmic-gradient bg-fixed min-h-screen text-white antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-cosmic-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-cosmic-700 rounded-full;
}
